{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{{ dump(articlesBDD) }}
<div class="row mb-2">

{% for onearticle in articlesBDD %}

{# {{ dump(onearticle) }} #}

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-md-10 p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
             {# on pioche dans un objet Twig avec le point '.' #}
          <h3 class="mb-0">{{onearticle.titre}}</h3>
          <div class="mb-1 text-muted">Posté le {{onearticle.date|date("d/m/Y")}} à {{onearticle.date|date("H:i:s", "Europe/Paris")}}</div>
           {# <div class="mb-1 text-muted">Posté le {{ onearticle.date|localizeddate('long', 'short') }}</div> #}

           {# slice() : fonction Twig permettant de retourner une partie de la chaine de caractères #}
                        {# arguments: 1. La position de départ | 2. Le nombre de caractères souhaités #}
          <p class="card-text mb-auto">{{onearticle.contenu|slice(0,100)|raw}}(...)</p>
          <a href="{{ path('blog_show', {'id': onearticle.id}) }}" class="stretched-link">lire la suite </a>
        </div>

        <div class="col-md-2 d-none d-lg-block">
          <img src="{{onearticle.image}}" alt="{{onearticle.titre}}" class="col-md-12">
        </div>
      </div>
    </div>
{% endfor %}

</div>

{% endblock %}

